#canvas {
    width: 800px;
    height: 600px;
}
.quadrant_rect {
	stroke: grey;
	fill: none;
	shape-rendering: geometricPrecision;
	stroke-width: 2px
}

.quad_label {
    font-weight: 14px;
    fill: gray;
}

.circle {
        fill: steelblue;
}

.label {
    font-size: 12px;
}
